{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Товари</title>
    <link rel="stylesheet" href="{% static 'marketplace/style.css' %}">
    <link rel="icon" href="{% static 'marketplace/icon.png' %}" type="image/png">
</head>
<body class ="body">
    <div class="navig">
    <a href={% url 'index' %}><h1>Магазин</h1></a>
        <p>Найкращі товари по смішним цінам!</p>
        <nav>
            <a href="main_page.html">Головна</a> |
            <a href="goods.html">Товари</a> |
            <a href="about_us.html">Про нас</a> 
        </nav>
    </div>
        <section class="filters">
            <div><b>Фільтри</b> </div><br>
            Виробник:<br>
            <form method="post">
            <div>
                {% for manufacturer in manufacturers %}  
                <input type="checkbox" id="{{ manufacturer }}" name="selected_">
                <label for="{{ manufacturer }}"> {{manufacturer.upper}} </label><br>
                
                {% endfor %}
            </div>
            <div>
                <label for="price">Ціна:</label><br>
                <form oninput="result.value=slider.value">
                <input type="range" id="slider" name="slider" min="0" max="100000" value="0">
                <output name="result" for="slider">0</output>
            </div>
            Діагональ екрану:<br>
            <div>
                {% for ips in ipses %}  
                <input type="checkbox" id="{{ ips }}" name="selected_">
                
                <label for="{{ ips }}"> {{ ips }}" </label><br>
                
                {% endfor %}
            </div>
            Процесори:<br>
            <div>
                {% for cpu in cpus %}  
                <input type="checkbox" id="{{ cpu }}" name="selected_">
                
                <label for="{{ cpu }}"> {{ cpu }}" </label><br>
                
                {% endfor %}
            </div>
            Оперативна пам'ять:<br>
            <div>
                {% for ram in rams %}  
                <input type="checkbox" id="{{ ram }}" name="selected_">
                
                <label for="{{ ram }}"> {{ ram }}" </label><br>
                
                {% endfor %}
            </div>
            SSD:<br>
            <div>
                {% for ssd in ssds %}  
                <input type="checkbox" id="{{ ssd }}" name="selected_">
                
                <label for="{{ ssd }}"> {{ ssd }}" </label><br>
                
                {% endfor %}
            </div>
            </form>

        </section>
        <div class ="content2">
        {% for good in goods %}
            <div class='goods'>
                <img src="{{good.main_picture}}" alt="yo mama" width='210px'><br>

                <h5> {{ good.split_title|linebreaksbr }} </h5>
                <h3 class='price'> {{good.price}} ₴ </h3>
                {% comment %} {% if not good.description %}
                    <p> {{good.title}} </p>
                {% else %}
                    <p> {{good.description}} </p>
                {% endif %} {% endcomment %}
            </div>
        {% endfor %}
        </div>
</body>





</html>