<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Головна</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="icon.png" type="image/png">
</head>
<body class ="body">
    <header class="navig">
    <a href="main_page.html"><h1>Магазин</h1></a>
    <p>Найкращі товари по смішним цінам!</p>
    <nav>
        <a href="main_page.html">Головна</a> |
        <a href="goods.html">Товари</a> |
        <a href="about_us.html">Про нас</a> 
    </nav>
    </header>
    <div class ="content">
ГЛАВНАЯ (тут будет вода-описание сайта и ты умрёшь и т.д.)
    </div>
    

</body>





</html>