{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Товари</title>
    <link rel="stylesheet" href="{% static 'marketplace/style.css' %}">
    <link rel="icon" href="{% static 'marketplace/icon.png' %}" type="image/png">
</head>
<body class='body'>
    <div class="navig">
    <h1>
        <a href={% url 'goods' %} class="shop-link">Магазин</a> 
    </h1>
        {% if user.is_authenticated %}
            <form method='post' action={% url 'logout' %}>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type='submit' class="btn3">Вийти з акаунту</button>
            </form>
        {% else %}
            <a href="{% url "login" %}?next={{ request.path }}" class="btn3">Увійти в акаунт</a>
            <a href="{% url "register" %}?next={{ request.path }}" class="btn3">Зареєструватися</a>
        {% endif %}
        <p>Найкращі товари по смішним цінам!</p>
        <nav>
            <a href={% url 'index' %}>Головна</a> |
            <a href={% url 'goods' %}>Товари</a> |
            <a href={% url 'about_us' %}>Про нас</a> 
        </nav>
    </div>  
    {% block content %}{% endblock content %}
</body>
</html>