{% extends "navbar.html" %}
{% load static %}

{% block content %}
    <section class='mainpage'>
        <div class='voda'>
            <div class='good'>
               <div class="image-div">
                <img src={{good.main_picture}} width='350px'>
                </div> 
                <div class="good-name">
                    <h3>{{ good.title }} </h3>
                    <h3>Характеристики</h3>
                    <table>
                        {% for key, value in good.characteristics.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}{% if key == 'matrix' %}"{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <h3>Ціна: {{ good.price }} ₴</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}