{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Товар</title>
    <link rel="stylesheet" href="{% static 'marketplace/style.css' %}">
    <link rel="icon" href="{% static 'marketplace/icon.png' %}" type="image/png">
</head>
<body class ="body">
    <div class="navig">
    <a href={% url 'goods' %}><h1>Магазин</h1></a>
        <p>Найкращі товари по смішним цінам!</p>
        <nav>
            <a href={% url 'index' %}>Головна</a> |
            <a href={% url 'goods' %}>Товари</a> |
            <a href={% url 'about_us' %}>Про нас</a> 
        </nav>
    </div>
    <section class='mainpage'>
        <div class='voda'>
            <div class='good'>
               <div class="image-div">
                <img src={{good.main_picture}} width='350px'>
                </div> 
                <div class="good-name">
                    <h3>{{ good.title }} </h3>
                </div>
            </div>
        </div>
    </section>
</body>
</html>