.navig{
    text-align: center;
    font-size: larger;
    padding: 20px 0;
    background-color: rgba(141, 141, 141, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
p{
    color: white;
    margin: 5px 0 10px 0;
}
.body{
    background: linear-gradient(135deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%) no-repeat center center fixed;
}
.content{
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-content{
    max-width: 90%;
    border-radius: 10px;
}
.content2{
    display: inline-block;
    max-width: 70%;
    margin-right: 0%;
    width: 70%;
    flex: right;
    margin-left: 25%;
    padding: 20px ;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.filters{
    position: relative;
    display: block;
    width: 20%;
    padding: 20px;
    margin-top: 10px ;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;

}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.goods {
    display: inline-block;
    background-color: white;
    border: black;
    vertical-align: top;
    border-radius: 10px;
    padding: 5px;
}