.navig{
    text-align: center;
    font-size: larger;
    padding: 20px 0;
    background-color: rgba(141, 141, 141, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.navig a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
p{
    color: white;
    margin: 5px 0 10px 0;
}
.body{
    background: linear-gradient(135deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%) no-repeat center center fixed;
}
.content{
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-content{
    max-width: 90%;
    border-radius: 10px;
}
.content2{
    display: inline-block;
    flex: 1;
    /* width: 80% ;  */
    min-width: 76.30%;
    max-width: 76.30%;
    /* min-width: 80.04%; */
    padding: 20px ;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.filters{
    position: relative;
    display: inline-block;
    vertical-align: top;
    max-height: 460px;
    /* width: 14%; */
    padding: 20px;
    margin-top: 10px ;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    flex: 0 0 15%;

}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.goods {
    display: inline-block;
    background-color: white;
    border: black;
    vertical-align: top;
    border-radius: 10px;
    margin-bottom: 7px;
    padding: 5px;
    min-height: 300px;
}
.goods a{
    text-decoration: none;
    color: black;
}
.maingage{
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.voda{
    display: inline-block;
    flex: 1;
    min-width: 96.7%;
    padding: 20px ;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.good img {
    float: left;
    display: inline;
    background-color: white;
    border: black;
    vertical-align: top;
    border-radius: 10px;
    margin-bottom: 7px;
    padding: 5px;
    min-height: 300px;
}
.good h3{
    /* тут надо сделать, шоб текст красивенько был */
}